<!DOCTYPE html>
<html>
<head>
	<title>Interest Points Charts</title>
	<style>
		.chart-container {
  display: inline-block;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  clear: both; /* Add this line to create open space */
}


		.chart-container h3 {
			margin-top: 0;
		}

		.chart-container img {
			max-width: 100%;
		}
	</style>
</head>
<body>
	{% for i in range(subcat_dict|length) %}
    <div class="chart-container">
        <img src="data:image/png;base64,{{ charts[i] }}" />
    </div>
{% endfor %}

</body>
</html>
